<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
    </configSections>
    <startup useLegacyV2RuntimeActivationPolicy="true"> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/> 
	</startup>
	<connectionStrings>
  <add name="SqlConnection" connectionString="Data Source=localhost; Initial Catalog=QuanLyCafe; Integrated Security=True" providerName="System.Data.SqlClient"/>
  <add name="QuanLyCafe.Properties.Settings.QuanLyCafeConnectionString" connectionString="Data Source=localhost;Initial Catalog=QuanLyCafe;Integrated Security=True" providerName="System.Data.SqlClient"/>
 </connectionStrings>
</configuration>
